<div class="row">
    <div class="row">
        <div class="col-12">

            <img [src]="elementContent.imagePath" alt="{{elementContent.name}}" class="img-responsive"  >
        </div>
    </div>
    <div class="col-xs-12">
        <h1>{{ elementContent.name}}</h1>
    </div>
    <div class="col-xs-12">
        <div class="btn-group" appDropDown>
            <button class="btn btn-primary dropdown-toggle" >
                Manage Recipe <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" >
                <li><a href="#">To shopping list</a></li>     
                <li><a href="#">Edit Recipe</a></li>     
                <li><a href="#">Delete Recipe</a></li> 
            </ul>
        </div>
        <div class="row">
            <div class="col-xs-12">
                {{ elementContent.description }}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                Ingredient  
            </div>
        </div>
    </div>
</div>